
//代码字体
@font-face {
  font-family: JetBrainsMono;
  src        : url("@/assets/fonts/JetBrainsMono-Regular.ttf");
}

//文字字体
@font-face {
  font-family: WenKai;
  src        : url("@/assets/fonts/LXGWWenKai-Regular.ttf");
}

* {
  margin: 0
}


html,
body,
#root {
  width           : 100%;
  height          : 100%;
  overflow        : hidden;
  background-color: #fff;
  font-family     : WenKai, Inter, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, noto sans, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

// 上下左右居中
.flex-center {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

// TODO
// 代码字体设置
.custom {
  .hljs {
    font-family: JetBrainsMono, serif;
  }
}

// TODO
// 编辑器行号背景
.ͼ2 .cm-gutters {
  background-color: #fff;
  border-right    : none;
}

// 文字溢出
//一行溢出
.one-line {
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
}

//两行溢出
.two-line {
  display           : -webkit-box;
  -webkit-line-clamp: 2;
  overflow          : hidden;
  text-overflow     : ellipsis;
  -webkit-box-orient: vertical;
  word-break        : break-all;
}
.arco-dropdown-menu{
  max-height: 800px;
}