* {
  margin: 0
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: JetBrainsMono;
  src: url('@/assets/fonts/JetBrainsMono-Regular.ttf');
}

.custom {
  .hljs {
    font-family: JetBrainsMono;
  }
}

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
