.top-header{
  height: 30px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 5%);
  .menus{
    display: flex;
    height: 100%;
    align-items: center;
    &-item{
      display:flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      cursor: pointer;
      padding: 0 10px;
    }
  }
}
